
.ini
OOP/obj
OOP/bin
Stdents/arudik/aquarium/aquarium/aquarium/bin/
Stdents/arudik/aquarium/aquarium/aquarium/obj/
Stdents/arudik/Exercise1/Exercise1/bin/
Stdents/serha/Exercise2/Exercise2/bin/
Stdents/serha/Exercise2/Exercise2/obj/
Stdents/arudik/Exercise1/Exercise1/obj/
